<!DOCTYPE html>
<html dir="rtl">
    <head>

    </head>
    <body>
        <%- include('header') %>

        <div class="container-fluid">
            <div class="row">
                <div class="nav-link active col-3"></div>
                <div class="nav-link active col-2"><h4> שם המחבר:<%=cotev%></h4></div>
                <div class="nav-link active col-6"><h3><%=koteret%></h3></div>
                <div class="nav-link active col-1"></div>
            </div>

            <div class="row">
                <div class="nav-link active col-2"></div>
                <div class="nav-link active col-7"><img src="<%=tmuna%>"></div>
                <div class="nav-link active col-3"></div>    

            </div>

            <div class="row"> 
                <div class="nav-link active col-2"></div>
                <div class="nav-link active col-2"></div>
                <div class="nav-link active col-3"><h6><%=tochen%></h6></div>
                <div class="nav-link active col-2"></div>
                <div dir="ltr" class="nav-link active col-3"><h3><%=taarich%></h3></div>
            </div>

            <div class="row">
                <div class="nav-link active col-5"></div>
                <div class="nav-link active col-7"><h3> קטגוריה:<%=sug%></h3></div>
            </div>
        </div>
    </body>
</html>